<!-- <form>
    <p> Task Type: </p> <input type="text"> <br />
    <p> Contact Name: </p> <input type="text"> <br />
    <p> Task title: </p> <input type="text"> <br />
    <p> Due Date: </p> <input type="text"> <br />
    <p> Task Description: </p> <input type="text"> <br />
</form> -->

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="form-group">
        <label for="taskType"> Task Type </label>
        <input type="text" class="form-control" name="TaskType" ngModel>
    </div>
    <div class="form-group">
        <label for="contactName"> Contact Name </label>
        <input type="text" class="form-control" name="ContactPersonName" ngModel>
    </div>
    <div class="form-group">
        <label for="taskTitle"> Task Title </label>
        <input type="text" class="form-control" name="TaskName" ngModel>
    </div>
    <div class="form-group">
        <label for="dueDate"> Due Date </label>
        <input type="text" class="form-control" name="DueDate" ngModel>
    </div>
    <div class="form-group">
        <label for="taskDescription"> Task Description </label>
        <input type="text" class="form-control" name="TaskDescription" ngModel>
    </div>
    <div class="form-group">
        <button mat-flat-button color="primary" mat-dialog-close type="submit">
            Add New Task
        </button>
        <button mat-flat-button mat-dialog-close 
                color="warn" style="margin-left: 3%;">
            Cancel
        </button>
    </div>
</form>