<p> Task list works! </p>

<mat-table [dataSource]="taskListDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Task ID">
        <mat-header-cell *matHeaderCellDef> Task ID </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Task Type">
        <mat-header-cell *matHeaderCellDef> Task Type </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Contact Person">
        <mat-header-cell *matHeaderCellDef> Contact Person </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.contactPerson}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Due Date">
        <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.dueDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="User ID">
        <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.userId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Task Name">
        <mat-header-cell *matHeaderCellDef> Task Name </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Task Description">
        <mat-header-cell *matHeaderCellDef> Task Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskDescription}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
        <mat-cell *matCellDef="let task">
            <button mat-flat-button color="primary" class="taskOption">Edit</button>
            <button mat-flat-button color="warn" class="taskOption">Delete</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: tableColumns"></mat-row>
</mat-table>