
<mat-table [dataSource]="taskListDataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="taskId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="taskType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Task Type </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactPerson">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.contactPerson}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.dueDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.userId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="taskName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="taskDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Task Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.taskDescription}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
        <mat-cell *matCellDef="let task">
            <button mat-flat-button color="primary" class="taskOption">Edit</button>
            <button mat-flat-button 
                    color="warn" 
                    class="taskOption"
                    (click)="deleteTask(task)">Delete</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: tableColumns"></mat-row>
</mat-table>